@import 'https://fonts.googleapis.com/css?family=Merriweather';
@import 'https://fonts.googleapis.com/css?family=Cuprum';
@import 'https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.cars-table {
    width: 100%;
}

.loaded-table {
    background: rgba(0, 0, 0, 0.06);
    z-index: 1;
}

.loaded-pager {
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.example-loading-shade {
    /*position: absolute;
    top: 386px;
    left: 50px;
    bottom: -34px;
    right: 50px;
    background: rgba(0, 0, 0, 0.15);*/
    position: absolute;
    left: 45%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

.tab_div {
    width: 100%;
    transform: translateZ(0);
}

.tabs_menu {
    /*   background-color:blue; */
    width: 20%;
    float: left;
    margin-top: 9px;
}

ul.tabs {
    padding: 0;
}

#tab1,
#tab2,
#tab3,
#tab4,
#tab5 {
    font-family: 'Merriweather', serif;
    padding-top: 4%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    width: 92%;
}

ul.tabs li {
    list-style-type: none;
    border-right: 2px solid white;
    font-size: 18px;
    color: white;
    /*   transition: background-color 0.2s ease; */
}

/* hover effect */

ul.tabs li {
    display: inline-block;
    position: relative;
    padding: 1em;
    cursor: pointer;
    background: white;
    color: #428bff;
    z-index: 0;
    border-right: 1px solid rgba(10, 11, 49, 0.2);
}

ul.tabs li:before {
    content: ' ';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background: rgb(255, 153, 51);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.5s ease-out;
}

ul.tabs li:hover:before {
    transform: scaleX(1);
}

/*ul.tabs li:active {
    background: #0a0a0a;
}*/

.tab_content_admin {
    display: flex;
    width: 100%;
}
.tab_content_admin > div {
    /*   background-color:red; */
    width: 92%;
    margin: 10px auto auto;
}

.tab_content_admin div h3 {
    font-family: 'Cuprum', sans-serif;
    padding-left: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;

    border-bottom: solid 1px rgb(234, 234, 225);
}

.tabs > li.active,
.tabs > li.active:hover,
.tabs > li.active:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    //background: #f90;
    border: none;
    border-radius: 0px;
    margin: 0px;
}

.tabs > li:hover {
    /* margin-right: 2px; */
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-right: 1px solid rgba(10, 11, 49, 0.2);
    background: rgb(234, 234, 225);
    /* border-radius: 4px 4px 0 0; */
}
.tabs > li.active {
    /*   content: '';
    position: absolute;
    top: 1.5em;
    right: -0.5em;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;*/

    border-left: 5px solid orangered;
    border-right: 1px solid rgba(10, 11, 49, 0.2);
}

.request-table-row:hover {
    background: rgb(234, 234, 225);
    cursor: pointer;
}

.remove-icon {
    font-size: 19px;
    color: #ff3300;
}

.modal-header .request-modal-value-field {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.modal-body > .coach-card {
    vertical-align: top;
    min-width: 290px;
    max-width: 290px;
    display: inline-block;
    margin: 10px;
}

@media only screen and (max-width: 470px) {
    #tab1,
    #tab2,
    #tab3,
    #tab4,
    #tab5 {
        width: 146%;
    }
}
