@import 'https://fonts.googleapis.com/icon?family=Montserrat:400,600i,700,900';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://fonts.googleapis.com/icon?family=Oswald:700|PT+Serif+Caption|Comfortaa|Yanone+Kaffeesatz|Jura';

.title {
    font: 60px bold;
    text-align: center;
}

h1 {
    font-size: 60px;
    text-align: center;
    letter-spacing: -0.1em;
    font-family: 'Lato', sans-serif;
}

.btn {
    border: none;
    height: 35px;
}

.btnList {
    padding: 15px;
    text-align: center;
}

img {
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -10px;
}

.search-control {
    text-align: center;
    margin-bottom: 10px;
    margin-top: -55px;
}

#searchInput {
    height: 28px;
    width: 400px;
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    33% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.button {
    display: inline-flex;
    align-items: center;
    background: white;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 45px;
    padding: 0 30px;
    color: #fff;
    font-family: Lato, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    will-change: transform;

    &:hover {
        background: darken(white, 10%);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.2);
        transform: translate3d(0, -2px, 0);
    }
    &:active {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        transform: translate3d(0, 1px, 0);
    }
}

.pulse {
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        opacity: 0;
        margin: auto;
    }
    &:before {
        animation: pulse 1.5s infinite linear;
    }
    &:after {
        animation: pulse 2s 0.4s infinite linear;
    }
    &:hover:before,
    &:hover:after {
        display: none;
    }
}
@media only screen and (max-width: 330px) {
    body {
        width: 173% !important;
    }
    .box1 {
        height: 142vh !important;
        width: 100% !important;
        display: block !important;
    }

    .insta-icon {
        width: 35px;
        height: 35px;
    }

    .left_bottom {
        margin-bottom: 10px !important;
    }

    #content h2 {
        font-size: 4em !important;
    }

    a.upButton {
        display: none;
    }

    .mail-info {
        width: 89%;
        float: right !important;
        margin-right: 0 !important;
        margin-bottom: 20px !important;
    }

    .insta-info {
        margin-left: 24px !important;
    }

    .mail-icon {
        font-size: 30px;
    }
}

.insta-info {
    display: inline-block;
    float: right;
    margin-left: 10px;
    margin-top: 3px;
    font-family: Oswald sans-serif;
}

.mail-info {
    display: inline-block;
    float: left;
    margin-right: 10px;
    font-family: Oswald sans-serif;
}

.box1 {
    height: 90vh;
    width: 100%;
    background-image: url('https://cdnmyslo.ru/NewsImage/05/2a/052afed7-c51b-4de4-8f6b-0a63bfa8c81d_1.jpg');
    filter: grayscale(75%);
    -webkit-filter: grayscale(75%);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
    transform-style: inherit;
}
.box2 {
    height: 75vh;
    width: 100%;
    //background-image:url(http://www.wallpapers13.com/wp-content/uploads/2018/09/The-city-of-Chicago-from-the-Willis-Tower-Sears-Tower-United-States-Desktop-HD-Wallpaper-For-PC-Tablet-And-Mobile-3840x2400--915x515.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
    //box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.7);
    transform-style: inherit;
}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

#content {
    font-family: Montserrat sans-serif;
    color: white;
}
#content h2 {
    font-weight: 900;
    font-size: 5em;
}
#content h3 {
    font-weight: 600;
    font-style: italic;
    font-size: 2em;
}

#content hr {
    width: 1100px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

a.upButton {
    line-height: normal;
    font-family: Varela Round, sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
    color: #a7aaae;
    position: fixed;
    left: 20px;
    bottom: 77px;
    border: 1px solid #a7aaae;
    padding: 12px 20px 10px;
    border-radius: 50px;
    transition: all 0.1s ease-in-out;
    text-transform: uppercase;
    z-index: 100;
    cursor: pointer;
}

a.upButton:hover {
    background: #a7aaae;
    color: white;
}

.insta-icon {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}
.insta-icon:after,
.insta-icon:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    content: '';
}
.insta-icon:before {
    border-radius: 20%;
}
.insta-icon:after {
    width: 11px;
    height: 11px;
    border-radius: 50%;
}

.divider {
    content: '';
    border-top: solid 1px #ccc;
    width: 95%;
    margin: auto;
}

.little-divider-top {
    content: '';
    border-top: solid 1px #ccc;
    width: 80%;
    margin: auto;
}

.little-divider-bottom {
    content: '';
    border-bottom: solid 1px #ccc;
    width: 80%;
    margin: auto;
}

.separator {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.separator hr {
    flex-grow: 1;
}

.separator span {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: -15px;
}

.question-item {
    margin-bottom: 60px;
}
