<div class="box1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="content">

                    <h2 style="margin-bottom: 0;">Соревнования майские ласточки</h2>
                   <!-- <h2>по спортивной аэробике</h2>-->
                        <h3>Зарегистрируйте свою команду для участия в соревновании</h3>
                        <hr>
                    <button id="search" type="button" class="btn btn primary button pulse" (click)="openLogin()">
                        <a href="#"  style="text-decoration: none;">Зарегистрироваться или войти</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box2">
    <div class="container" style="margin-top: 30px; height: 100%">
        <!--<h4 style="font-size: 40px; text-align: center">Малахитовая шкатулка</h4>-->

      <!--  <div class="question-item">
            <div class="separator"><hr><span>Что?</span><hr></div>

            <div style="text-align: center; margin-bottom: 30px;    font-size: 25px; font-family: 'Jura', sans-serif;">
                Соревнование по спортивной аэробике "Малахитовая шкатулка"
            </div>
            <div style="text-align: -webkit-center; text-align: center;">
                <div style="background: url('../../../../content/images/photo_main.jpg') no-repeat center top;
                width: 55%;
                height: 310px; display: inline-flex;">

                </div>
            </div>
        </div>-->
        <div class="question-item">
            <div class="separator"><hr><span>Где?</span><hr></div>

            <div style="text-align: center; margin-bottom: 30px;    font-size: 25px; font-family: 'Jura', sans-serif">
                г.Екатеринбург, Цск Самара.
            </div>
           <!-- <div style="text-align: -webkit-center; text-align: center;">
                <div style="background: url('../../../../content/images/map.png') no-repeat center top;width: 55%;
                height: 310px; display: inline-flex;">

                </div>
            </div>-->
        </div>
        <div class="question-item" style="margin-bottom: 0">
            <div class="separator"><hr><span>Когда?</span><hr></div>

            <div style="text-align: center; margin-bottom: 30px;    font-size: 25px; font-family: 'Jura', sans-serif">
                Соревнования будут проходить 18 мая 2019 года
            </div>
         <!--   <div style="text-align: -webkit-center; text-align: center;">
                <div style="background: url('../../../../content/images/calendar.png') no-repeat center top;width: 55%;
                height: 310px; display: inline-flex;">

                </div>
            </div>
-->
        </div>
    </div>
</div>
<footer>
    <div class="divider">

    </div>
    <div style="margin: 20px 35px">
        <div class="left_bottom" style="display: inline-block">
            <a class="insta-icon" style="display: inline-block; cursor: pointer" href="https://www.instagram.com/sportaerobicsekb" target="_blank"></a>
            <span class="insta-info">Мы в Instagram</span>
        </div>
        <div class="right_bottom" style="display: inline-block; float: right;">
            <span  class="mail-info">В случае возникновения проблем при регистрации пишите нам aerobicsuppor2018@yandex.ru</span>
            <mat-icon class="mail-icon">
            email
            </mat-icon>
        </div>
    </div>
</footer>

<a class='upButton' id="myBtn" (click)="topFunction()">в начало</a>
