<div class="modal-header">
    <div>
        <h4 class="modal-title" *ngIf="this.requestInfo"><span style="font-family: 'Yanone Kaffeesatz', sans-serif;">Заявка:</span>
            {{requestInfo.generalInfo.name}}
        </h4>
        <h5 *ngIf="this.requestInfo" style="font-size: 15px;margin-top: 10px; margin-bottom: 0;" class="text-muted">
            <span><span style="font-family: 'Yanone Kaffeesatz', sans-serif;">Комманда:</span>
                {{requestInfo.generalInfo.commandName}}
            </span>
            <span style="display: block; margin-top: 10px"><span style="font-family: 'Yanone Kaffeesatz', sans-serif;">Субект РФ:</span>
                {{requestInfo.generalInfo.region}}
            </span>
        </h5>
    </div>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>

</div>
<div class="modal-body">
    <div *ngIf="this.requestInfo" style="margin-left: 45px;">
            <span><span
                style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: x-large;">Возрастная категория: </span>
                <span style="font-size: 18px; margin-left: 10px;">{{requestInfo.generalInfo.ageCategory}}</span>
            </span>
        <span style="display: block; margin-top: 10px"><span
            style="font-family: 'Yanone Kaffeesatz', sans-serif; font-size: x-large;">Номинация: </span>
            <span style="font-size: 18px; margin-left: 10px;">{{requestInfo.generalInfo.nomination}}</span>
            </span>
    </div>
    <div class="container" style="margin: 20px" *ngIf="this.requestInfo">
        <div class="row">
            <div class="col-xl-6 container">
                <h4 style="font-family: 'Yanone Kaffeesatz', sans-serif; margin-left: 10px;">Участники</h4>
                <div>
                    <div *ngFor="let member of this.requestInfo.members"
                         style="vertical-align: top;
                 min-width: 290px;
                 max-width: 290px;
                 display: inline-block;
                 margin: 10px;">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Участник: {{member.name}}</mat-card-title>
                                <mat-card-subtitle>
                                    Пол: <span>{{member.gender === 'male' ? 'мужской' : 'женский'}}</span> <br>
                                    Дата рождения: <span>{{member.birthDate| date: 'dd.MM.yyyy'}}</span> <br>
                                    Разряд: <span>{{member.quality}}</span>
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content style="margin-left: 17px">
                                <h5>Паспорт</h5>
                                <p *ngIf="member.passportSeries && member.passportNumber">
                                    Серия: {{member.passportSeries}} Номер: {{member.passportNumber}} <br>
                                    Выдан: <span matTooltip="{{member.passportDesc}}"> {{member.passportDesc.length > 20 ? member.passportDesc.substring(0,20) + '...': member.passportDesc}}</span>
                                </p>
                                <p *ngIf="!member.passportSeries && !member.passportNumber">
                                    Данных нет
                                </p>
                            </mat-card-content>
                            <mat-card-content style="margin-left: 17px">
                                <h5>Свидетельство</h5>
                                <p *ngIf="member.birthCertificateNumber && member.birthCertificateDesc">
                                    Номер: {{member.birthCertificateNumber}} <br>
                                    Выдан: <span matTooltip="{{member.birthCertificateDesc}}"> {{member.birthCertificateDesc.length > 20 ? member.birthCertificateDesc.substring(0,20) + '...': member.birthCertificateDesc}}</span>
                                </p>
                                <p *ngIf="!member.birthCertificateNumber && !member.birthCertificateDesc">
                                    Данных нет
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 container" style="padding-left: 0">
                <h4 style="font-family: 'Yanone Kaffeesatz', sans-serif; margin-left: 10px;">Тренеры</h4>
                <div>
                    <div *ngFor="let coach of this.requestInfo.coaches; let i = index"
                         style="vertical-align: top;
                 min-width: 290px;
                 max-width: 290px;
                 display: inline-block;
                 margin: 10px;">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Тренер: {{coach.name}}</mat-card-title>
                                <mat-card-subtitle>Дата рождения: {{coach.birthDate| date: 'dd.MM.yyyy'}}
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content style="margin-left: 17px">
                                <h5>Паспорт</h5>
                                <p *ngIf="coach.passportSeries && coach.passportNumber">
                                    Серия: {{coach.passportSeries}} Номер: {{coach.passportNumber}} <br>
                                    Выдан: <span matTooltip="{{coach.passportDesc}}"> {{coach.passportDesc.length > 20 ? coach.passportDesc.substring(0,20) + '...': coach.passportDesc}}</span>
                                </p>
                                <p *ngIf="!coach.passportSeries && !coach.passportNumber">
                                    Данных нет
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style=" justify-content: normal; font-size: 18px;">
    <div *ngIf="requestInfo">
        <span style="font-family: 'Yanone Kaffeesatz', sans-serif; margin-right: 6px;">Телефон: </span>
        +7{{requestInfo.phoneNumber}}

        <span style="margin-left: 32px;">
         <span style="font-family: 'Yanone Kaffeesatz', sans-serif; margin-right: 6px;">Почта: </span>
        {{requestInfo.mail}}

     </span>
    </div>
</div>
